[Unit]
Description=MijnSauna.Middleware.Processor

[Service]
Type=notify
ExecStart=/home/pi/sauna/MijnSauna.Middleware.Processor

[Install]
WantedBy=multi-user.target