[Unit]
Description=MijnSauna.Middleware.Processor

[Service]
Type=notify
ExecStart=/usr/sbin/MijnSauna.Middleware.Processor

[Install]
WantedBy=multi-user.target