@page "/"

<div class="flex-container">
    <div class="temperature-box">125 °C</div>
    <div class="power-box">1234 W</div>
</div>

<div class="flex-container">
    15:09
</div>

<div class="footer">
    <div class="flex-container">
        <div class="temperature-box">125 °C</div>
        <div class="power-box">1234 W</div>
    </div>
</div>